requires = ["setuptools >= 61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "simulated_galaxy_props"
version = "0.1.1"

dependencies = [
 "numpy",
 "scikit-learn",
 "pandas",
 "matplotlib",
]
